workflow/workflow.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are a professional resume assistant.\nCall the update cv agent\nuse {{ $json[\"Company name\"] }} and {{ $json[\"job title\"] }} to update {{ $json[\"motivation_letter\"] }}\nif you get updated cv from update cv agent, give output ok \n\nYou are a professional CV and cover letter optimization expert.\n\nTASK: generate a personalized motivation letter based on a job description.\n\nINPUTS:\n- Target job information \n- motivation Letter template: {{ $json[\"motivation_letter\"] }}\n\nINSTRUCTIONS:\n\n\nSTEP 1: Generate Motivation Letter  \n- Use {{ $json[\"Company name\"]}} and {{ $json[\"job title\"]}} from job description\n- Use motivation letter_template sections as the structure\n- Fill in all {placeholders} with information from job description and cv\n- Reference 2-3 of the matched projects in the letter\n- Ensure the letter is personalized and natural (300-400 words)\n\nSTEP 2: Return Results for Manual Review\nOutput your results in this JSON format:\n\n{\n  \"motivation_letter\": {\n    \"full_text\": \"Complete motivation letter text\"\n  }\n}\n\nIMPORTANT: Never fabricate information. Only reframe existing CV content. Output is for manual review and approval before use.\n",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        256,
        0
      ],
      "id": "2221acb0-377c-455c-92b3-44290937aa01",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        944,
        240
      ],
      "id": "32a0f50c-d301-414b-ab71-46cbcdcbffe6",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "S85Pqlm3N6Y4LMzn",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "toolDescription": "Call this tool to update resume. The input should be job description and resume. ",
        "text": "=Renaming and reframing the project to align with {{ $json[\"Target Job Industry/Sector\"]}} industry use cases. Rewrite with {{ $json[\"Target Job Industry/Sector\"]}} phrasing. **reframe my projects/achievements** to show their **business relevance** to industry use cases, \n\nDo not repeating the wording used in each project. {{ $json[\n\"cv_structured\"][\"work_experience\"][0][\n\"projects\"][0][\"description\"]}}\n\n{{ $json[\n\"cv_structured\"][\"work_experience\"][0][\n\"projects\"][1][\"description\"]}}\n\n{{ $json[\n\"cv_structured\"][\"work_experience\"][0][\n\"projects\"][2][\"description\"]}}\n\n{{ $json[\n\"cv_structured\"][\"work_experience\"][0][\n\"projects\"][3][\"description\"]}}\n\nOutput should be in the same style and tone.",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agentTool",
      "typeVersion": 2.2,
      "position": [
        464,
        256
      ],
      "id": "58cf3a98-e683-44d2-a348-ba9b55f3af82",
      "name": "Update CV"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        336,
        464
      ],
      "id": "290c749b-7a2e-4aab-a4f7-46bbc742b191",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "S85Pqlm3N6Y4LMzn",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmOpenHuggingFaceInference",
      "typeVersion": 1,
      "position": [
        944,
        64
      ],
      "id": "e1848d95-bae6-4fe9-920f-fa6df2b0bcdd",
      "name": "Hugging Face Inference Model",
      "credentials": {
        "huggingFaceApi": {
          "id": "C3TZmxIzvRywZME8",
          "name": "HuggingFaceApi account"
        }
      }
    },
    {
      "parameters": {
        "model": "qwen3:0.6b",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        272,
        208
      ],
      "id": "9ba99a7b-5296-4f2d-97b7-df3501ab0918",
      "name": "Ollama Chat Model",
      "credentials": {
        "ollamaApi": {
          "id": "WUlsbk4h3gY3f8rM",
          "name": "Ollama account 2"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -448,
        224
      ],
      "id": "935b78fd-04f2-4ac6-a7b4-de96c6dd9927",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "qqI7hVPaeHU4HmVO",
          "mode": "id",
          "cachedResultUrl": "/workflow/qqI7hVPaeHU4HmVO"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -208,
        224
      ],
      "id": "02c080cf-f444-4c97-a309-1f7ea6ec9837",
      "name": "Call 'Load JD'"
    }
  ],
  "pinData": {},
  "connections": {
    "OpenAI Chat Model": {
      "ai_languageModel": [
        []
      ]
    },
    "AI Agent": {
      "main": [
        []
      ]
    },
    "Update CV": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Update CV",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Call 'Load JD'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'Load JD'": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "b5e7847c-64d6-462b-ae97-0dd7414d72f0",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "b39098fa88d73a08861a2351c14a261cf9e6ae11855154e6a59e69c1890b07c6"
  },
  "id": "VYTLSNgTpi9YxjBZ",
  "tags": []
}